img/*
cache/*
cache_new/*
dump/*
.vscode/*
ss.exe~
ss.exe
log.txt
libtesseract64.dll
example.db
20241127_021059_0_2520x1680_9180414546581389056.png
test_0.svg
vtracer.exe
control.txt
svgcleaner.exe
img_sample.7z
test_0_rust.7z
test_0_scour.svg
test_0_sr_nano.svg
test_0_sr.7z
test_0_sr.svg
test_0.png
config.toml
1.db
2.db
img_dump/*
